.blog-page .blog-post h1 a:hover,
.blog-page .blog-post h1 a:focus {
  color: #12cca7;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:focus {
  color: #0b816a;
}
.blog-page .blog-post .social-media a:hover,
.blog-page .blog-post .social-media a:focus {
  background-color: #12cca7;
}
.blog-page .sidebar .sidebar-module-container .search-area .search-button:after {
  color: #0b816a;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:focus {
  color: #12cca7;
}
.blog-page .blog-post-author-details .author-social-network button .twitter-icon {
  background-color: #12cca7;
}
.blog-page .blog-review .review-action a,
.blog-page .blog-review .review-action a:hover,
.blog-page .blog-review .review-action a:focus {
  color: #12cca7;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:hover,
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:focus {
  color: #12cca7;
}
.blog-page .blog-post h1 {
  font-family: 'FjallaOneRegular';
  font-size: 25px;
  text-transform: uppercase;
}
.blog-page .blog-post h1 a {
  color: #555;
}
.blog-page .blog-post span {
  padding-right: 20px;
  color: #aaa;
  font-size: 13px;
}
.blog-page .blog-post p {
  padding-top: 16px;
  text-align: justify;
  font-size: 13px;
  color: #666666;
  margin-bottom: 0px;
}
.blog-page .blog-post a {
  margin-top: 10px;
}
.blog-page .blog-post .blog-pagination .pagination {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.blog-page .blog-post .social-media {
  margin-top: 20px;
  margin-bottom: 30px;
}
.blog-page .blog-post .social-media span {
  font-size: 13px;
  text-transform: uppercase;
  color: #434343;
}
.blog-page .blog-post .social-media a {
  font-size: 18px;
  margin: 0px 10px 0px 0px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #888888;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 {
  font-family: 'FjallaOneRegular';
  font-size: 14px;
  text-transform: uppercase;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a {
  color: #555;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post span {
  padding-right: 10px;
  color: #aaa;
  font-size: 12px;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post p {
  padding-top: 10px;
  text-align: justify;
  font-size: 12px;
  color: #666666;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs {
  border-bottom: none;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li {
  text-transform: uppercase;
  color: #666666;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 13px;
  border: none;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li:first-child > a {
  padding-right: 10px;
  border-right: 1px solid #d4d4d4;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li:last-child > a {
  padding-left: 10px;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav > li > a {
  padding: 0px;
  color: #666666;
}
.blog-page .sidebar .sidebar-module-container .search-area .search-button:after {
  content: "\f002";
  font-family: fontawesome;
  font-size: 13px;
  position: absolute;
  top: 14px;
  right: 30px;
  background-color: #fff;
  padding-left: 10px;
}
.blog-page .sidebar .sidebar-module-container .search-area input {
  font-size: 12px;
  color: #9e9e9e;
  padding: 14px;
  border: 1px solid #e1e1e1;
  width: 100%;
  position: relative;
}
.blog-page .blog-pagination {
  border-top: 1px solid #ececec;
}
.blog-page .blog-pagination .pagination > li:first-child > a {
  margin-right: 10px;
}
.blog-page .blog-pagination .pagination > li:last-child > a {
  margin-left: 2px;
}
.blog-page .side-bar-blog .widget .categories .side-bar-title h3 {
  font-family: 'FjallaOneRegular';
  font-size: 18px;
  text-transform: uppercase;
  color: #555;
  padding-bottom: 8px;
  border-bottom: 1px solid #e3e3e3;
  margin: 0px;
}
.blog-page .blog-post-author-details {
  padding: 40px 0px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.blog-page .blog-post-author-details .author-social-network {
  display: inline-block;
}
.blog-page .blog-post-author-details .author-social-network button {
  background-color: #fff;
  border: 1px solid #e3e3e3;
}
.blog-page .blog-post-author-details .author-social-network button .twitter-icon {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  height: 26px;
  width: 26px;
  text-align: center;
  display: inline-block;
  margin: 6px;
  line-height: 26px;
}
.blog-page .blog-post-author-details .author-social-network > span {
  font-size: 13px;
  color: #434343;
  text-transform: uppercase;
  margin-right: 16px;
}
.blog-page .blog-post-author-details .author-social-network .caret {
  color: #e3e3e3;
}
.blog-page .blog-post-author-details .btn-group.open .dropdown-toggle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog-page .blog-post-author-details img {
  float: left;
}
.blog-page .blog-post-author-details .author-job {
  display: block;
  padding: 0px;
  color: #aaa;
  font-size: 12px;
}
.blog-page .blog-post-author-details h4 {
  display: inline-block;
  font-size: 15px;
  font-family: 'FjallaOneRegular';
  text-transform: uppercase;
  color: #555;
  margin: 0px;
}
.blog-page .blog-post-author-details p {
  font-size: 13px;
  color: #666666;
  padding: 16px 0px 0px 0px;
  text-align: justify;
}
.blog-page .blog-review .title-review-comments {
  font-size: 16px;
  color: #555;
  font-family: 'FjallaOneRegular';
  margin-bottom: 40px;
  text-transform: uppercase;
}
.blog-page .blog-review p {
  font-size: 13px;
  color: #666666;
  text-align: justify;
}
.blog-page .blog-review .review-action {
  font-size: 12px;
  color: #666666;
}
.blog-page .blog-review .post-load-more {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 30px;
}
.blog-page .blog-post .author:before,
.blog-page .blog-post .review:before,
.blog-page .blog-post .date-time:before {
  color: #666666;
  font-size: 13px;
  padding-right: 4px;
  font-family: FontAwesome;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .author:before,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .review:before,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .date-time:before {
  color: #666666;
  font-size: 13px;
  padding-right: 4px;
  ont-family: FontAwesome;
}
.blog-page .blog-post .author:before,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .author:before {
  content: "\f044";
}
.blog-page .blog-post .review:before,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .review:before {
  content: "\f086";
}
.blog-page .blog-post .date-time:before,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post .date-time:before {
  content: "\f073";
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:focus {
  background-color: #fff;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav > li > a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav > li > a:focus {
  background-color: #fff;
}
.blog-page .blog-post .social-media a:hover,
.blog-page .blog-post .social-media a:focus {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
}
.blog-page .blog-post .social-media i,
.blog-page .blog-post-author-details .author-social-network button a i {
  padding-top: 6px;
}
.blog-page .blog-review h4,
.blog-page .blog-write-comment h4,
.contact-page .contact-title h4 {
  font-size: 16px;
  color: #555;
  font-family: 'FjallaOneRegular';
  text-transform: uppercase;
  display: inline-block;
}
.blog-page .blog-review .review-action a:hover,
.blog-page .blog-review .review-action a:focus {
  text-decoration: underline;
}
.blog-page .blog-review .blog-comments,
.blog-page .blog-review .blog-sub-comments {
  border-bottom: 1px solid #e3e3e3;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a .icon {
  margin-right: 5px;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:hover,
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:focus {
  background: rgba(0, 0, 0, 0);
}
