.body-content .x-page .x-text h1 {
  font-family: 'FjallaOneRegular';
  font-size: 200px;
}
.body-content .x-page .x-text p {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}
.body-content .x-page .x-text .le-button {
  border-radius: 0 3px 3px 0;
  margin: 0 0 0 -5px;
  padding: 21px 23px 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
  border: medium none;
  color: #fff;
}
.body-content .x-page .x-text form input {
  border: 1px solid #e0e0e0;
  border-radius: 3px 0 0 3px;
  color: #3d3d3d;
  padding: 13px;
  font-size: 15px;
  width: 40%;
}
.body-content .x-page .x-text a {
  font-size: 15px;
}
.body-content .x-page .x-text a i {
  padding-right: 2px;
}
.body-content .terms-conditions-page .terms-conditions h2,
.body-content .faq-page h2,
.body-content .track-order-page h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #555;
  text-align: center;
  font-family: 'FjallaOneRegular';
}
.body-content .terms-conditions-page .terms-conditions h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #555;
  font-family: 'FjallaOneRegular';
  margin-bottom: 30px;
}
.body-content .terms-conditions-page .terms-conditions ol {
  padding-left: 22px;
}
.body-content .terms-conditions-page .terms-conditions ol li {
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: #666;
  padding-bottom: 20px;
}
.body-content .terms-conditions-page .terms-conditions p {
  font-size: 15px;
}
.body-content .terms-conditions-page .terms-conditions h2,
.body-content .terms-conditions-page .terms-conditions span,
.body-content .track-order-page span {
  text-align: center;
}
.body-content .terms-conditions-page .terms-conditions span,
.body-content .faq-page .title-tag,
.body-content .track-order-page span {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: #666;
}
.body-content .faq-page .title-tag {
  text-align: center;
  padding-bottom: 80px;
}
.body-content .track-order-page .register-form label {
  font-weight: 400;
  font-size: 14px;
}
.body-content .track-order-page .register-form .form-group {
  margin-bottom: 25px;
}
.body-content .my-wishlist-page .my-wishlist table > thead > tr > th {
  text-align: center;
  font-size: 30px;
  font-family: 'FjallaOneRegular';
  text-transform: uppercase;
  border: none;
  font-weight: 400;
}
.body-content .my-wishlist-page .my-wishlist table tbody tr:nth-child(even) {
  border-top: 1px solid #ddd;
}
.body-content .my-wishlist-page .my-wishlist table tbody .product-name {
  font-size: 20px;
  font-family: 'FjallaOneRegular';
  padding-bottom: 6px;
}
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a {
  color: #434343;
}
.body-content .my-wishlist-page .my-wishlist table tbody .rating span {
  font-size: 11px;
  color: #aaa;
  padding-left: 10px;
}
.body-content .my-wishlist-page .my-wishlist table tbody .rating .rate {
  color: #ffb400;
}
.body-content .my-wishlist-page .my-wishlist table tbody .rating .non-rate {
  color: #dcdcdc;
}
.body-content .my-wishlist-page .my-wishlist table tbody .price {
  font-size: 20px;
  padding-top: 4px;
  font-weight: bold;
}
.body-content .my-wishlist-page .my-wishlist table tbody .price span {
  font-size: 15px;
  color: #ddd;
  text-decoration: line-through;
  padding-left: 10px;
}
.body-content .my-wishlist-page .my-wishlist table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
  border: none;
  padding: 30px;
}
.body-content .my-wishlist-page .my-wishlist table tbody .close-btn a,
.body-content .my-wishlist-page .my-wishlist table tbody .close-btn a:hover {
  color: #ff7878;
  font-size: 15px;
}
.body-content .sign-in-page .sign-in h4,
.body-content .sign-in-page .create-new-account h4 {
  font-size: 24px;
  font-family: 'FjallaOneRegular';
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
.body-content .sign-in-page .sign-in p,
.body-content .sign-in-page .create-new-account p {
  font-size: 15px;
  color: #666;
}
.body-content .sign-in-page .sign-in .social-sign-in a,
.body-content .sign-in-page .sign-in .social-sign-in a:hover,
.body-content .sign-in-page .sign-in .social-sign-in a:focus {
  border-radius: 3px;
  padding: 14px 30px;
  font-size: 15px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.body-content .sign-in-page .sign-in .social-sign-in a i {
  padding-right: 6px;
}
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in {
  background-color: #3d5c98;
  margin-right: 10px;
}
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in:hover,
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in:focus {
  background-color: #153470;
}
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in {
  background-color: #22aadf;
}
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in:hover,
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in:focus {
  background-color: #0084B9;
}
.body-content .sign-in-page .create-new-account > span {
  font-size: 20px;
  font-family: 'FjallaOneRegular';
  padding-bottom: 14px;
  text-transform: uppercase;
  display: inline-block;
}
.body-content .sign-in-page .create-new-account .checkbox label {
  margin-bottom: 10px;
  font-size: 16px;
}
.body-content .sign-in-page form .form-group span {
  color: red;
}
.body-content .sign-in-page .register-form label {
  font-size: 14px;
  font-weight: 400;
}
.body-content .sign-in-page .register-form .form-group {
  margin-bottom: 25px;
}
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:hover,
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:focus {
  color: #12cca7;
}
.product-comparison .compare-table tr td .product-price .price {
  color: #12cca7;
}
.product-comparison .compare-table tr td .in-stock {
  color: #12cca7;
}
.body-content .x-page .x-text h1 {
  color: #12cca7;
}
.body-content .x-page .x-text a {
  color: #12cca7;
}
.sign-in-page .register-form .forgot-password,
.sign-in-page .register-form .forgot-password:hover,
.sign-in-page .register-form .forgot-password:focus {
  color: #12cca7;
}
.body-content .my-wishlist-page .my-wishlist table tbody .price {
  color: #12cca7;
}

@media (max-width: 767px) {
.body-content .sidebar {
    margin-bottom: 30px;
  }
 }

@media (min-width: 768px) and (max-width: 991px) {
	.body-content .sidebar {
    margin-bottom: 30px;
  }
  }