.main-header .top-search-holder .contact-row .icon {
  color: #12cca7;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  color: #12cca7;
}
.main-header {
  padding: 10px 0px 20px 0px;
}
.main-header .logo-holder {
  margin-top: 10px;
}
.main-header .top-search-holder .contact-row {
  line-height: 20px;
  color: #9b9b9b;
}
.main-header .top-search-holder .contact-row .phone {
  margin: 0 23px 0 0;
  border-right: 1px solid #E2E2E2;
  padding-right: 35px;
}
.main-header .top-search-holder .contact-row .icon {
  font-size: 18px;
  line-height: 23px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.main-header .top-search-holder .search-area {
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 8px 0 0;
}
.main-header .top-search-holder .search-area .search-field {
  border: medium none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding: 13px;
  width: 67%;
}
.main-header .top-search-holder .search-area .categories-filter {
  border-right: 1px solid #E0E0E0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 44px;
  background: #f6f6f6;
}
.main-header .top-search-holder .search-area .categories-filter a {
  padding: 0 10px;
  color: #666;
  font-size: 13px;
}
.main-header .top-search-holder .search-area .categories-filter a .caret {
  margin-left: 15px;
  color: #a0a0a0;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  padding: 12px 17px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li {
  margin-bottom: 10px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a {
  padding: 0px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, 0);
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header {
  font-family: 'FjallaOneRegular';
  line-height: 30px;
}
.main-header .top-search-holder .search-area .search-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 12px 19px 13px;
  text-align: center;
  background: #f6f6f6;
  border-left: 1px solid #E0E0E0;
}
.main-header .top-search-holder .search-area .search-button:after {
  color: #b2b2b2;
  content: "\f002";
  font-family: fontawesome;
  font-size: 13px;
  line-height: 9px;
  vertical-align: middle;
}

  .main-header .logo-holder {
    text-align: center;
    margin-bottom: 20px;
  }
  .main-header .top-search-holder .contact-row {
    margin-bottom: 20px;
    text-align: center;
  }
  .main-header .top-search-holder .contact-row .phone,
  .main-header .top-search-holder .contact-row .contact {
    margin: 0 0 5px;
    padding-right: 0px;
    border-right: none;
    display: block;
  }
  .main-header .top-search-holder .search-area .categories-filter {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
  .main-header .top-search-holder .search-area .search-button {
    padding: 12px 19px;
  }
  
  
